@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  position: relative;
  width: 100%;

  .tabContent {
    width: 100%;
    margin-top: vw-calc(50);

    @media screen and (max-width: 768px) {
      margin-top: vw-mobile-calc(20);

      .cardRow {
        justify-content: center;
      }
    }
  }

  .error {
    width: 100%;
    height: vw-calc(50);
    color: $text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: vw-calc(20);
    font-weight: 600;
  }

  .cardRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: vw-calc(20) vw-calc(10);

    @media screen and (max-width: 768px) {
      gap: vw-mobile-calc(20) vw-mobile-calc(10);
    }
  }
}
