@import "styles/variables.scss";
@import "styles/calc.scss";
.container {
  width: 100%;
  background-color: $background-color;

  .background {
    background-color: $green;
    height: vw-calc(300);
    width: 100%;
  }
  display: flex;

  flex-direction: column;

  .userBody {
    background-color: $background-color;
    padding: vw-calc(20);
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .userCard {
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: vw-calc(-250);
    top: vw-calc(-250);

    @media screen and (max-width: 768px) {
      width: 70%;
      border-radius: vw-mobile-calc(20);
      top: vw-mobile-calc(-30);
    }
  }
}
