@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  width: vw-calc(600);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: vw-calc(20);
  padding: vw-calc(20);
  border: 1px solid $secondary;

  @media (max-width: 768px) {
    width: 100%;
    padding: vw-mobile-calc(10);
  }

  .filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: vw-calc(20);

    h2 {
      font-size: vw-calc(20);
      color: $primary;

      @media (max-width: 768px) {
        font-size: vw-mobile-calc(10);
      }
    }
    @media (max-width: 768px) {
      gap: vw-mobile-calc(10);
    }
  }

  .button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
