@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Instrument+Serif:ital@0;1&family=Lexend:wght@100..900&display=swap");
@import "styles/variables.scss";
@import "styles/calc.scss";

.landingSection {
  height: 100vh;
  color: black;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  padding: 100px 200px 0;

  &.exponats {
    color: white;
    background-color: #039300;
    flex-direction: row-reverse;

    .content {
      align-items: flex-end;
      text-align: right;

      .button {
        background-color: white;
        color: #039300;
      }
    }

    .plantImage {
      width: 40%;
      height: 80%;
    }
  }

  &.organisations {
    color: white;
    background-color: $mineral-color;
    flex-direction: row-reverse;

    .content {
      align-items: flex-end;
      text-align: right;

      .button {
        background-color: white;
        color: $mineral-color;
      }
    }

    .plantImage {
      width: 60%;
      height: 80%;
      transform: rotate(25deg);
    }
  }

  &.posts {
    color: white;
    background-color: $procariot-color;

    .content {
      align-items: flex-start;
      text-align: left;

      .button {
        background-color: white;
        color: $procariot-color;
      }
    }

    .plantImage {
      width: 40%;
      transform: rotate(25deg);
      height: 80%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 70%;

    h2 {
      font-family: "Lexend";
      font-size: 80px;
      line-height: 100%;
      margin-bottom: 30px;
    }

    p {
      font-family: "Commissioner";
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 70px;
      width: 80%;
      opacity: 0.5;
    }

    .button {
      width: 200px;
    }
  }

  .plantImage {
    height: 400px;
    width: 400px;
    object-fit: contain;
  }
}

@media screen and (max-width: 1160px) {
  .landingSection {
    padding: 70px 50px 0;

    .content {
      h2 {
        font-size: 60px;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .landingSection {
    padding: 70px 50px 0;
    flex-direction: column-reverse;
    align-items: center;
    height: auto;

    .content {
      width: 100%;

      .button {
        width: 100%;
        margin-bottom: 50px;
      }
    }

    .plantImage {
      width: 50%;
      height: 50%;
      margin-bottom: 50px;
    }
  }

  .landingSection:nth-of-type(2) {
    flex-direction: row;

    .content {
      align-items: flex-start;
      text-align: left;
    }
  }
}

@media screen and (max-width: 570px) {
  .landingSection {
    padding: 70px 20px 0;

    .content {
      h2 {
        font-size: 40px;
      }
    }
  }
}
