@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  display: flex;
  width: 100%;
  min-width: vw-calc(360);
  box-shadow: 0px vw-calc(10) vw-calc(20) rgba(0, 0, 0, 0.1);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: vw-calc(80);
  padding: vw-calc(10) vw-calc(15);
  border-radius: vw-calc(10);

  @media (max-width: 768px) {
    padding: vw-mobile-calc(10) vw-mobile-calc(15);
    min-height: vw-mobile-calc(60);
    border-radius: vw-mobile-calc(10);
  }

  .entity {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: vw-calc(10);

    @media (max-width: 768px) {
      gap: vw-mobile-calc(5);
    }
  }

  .imageContainer {
    width: vw-calc(50);
    height: vw-calc(50);
    border-radius: 50%;
    margin-right: vw-calc(10);
    position: relative;

    @media (max-width: 768px) {
      width: vw-mobile-calc(40);
      height: vw-mobile-calc(40);
      margin-right: vw-mobile-calc(5);
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: vw-calc(15);

    @media (max-width: 768px) {
      gap: vw-mobile-calc(10);
    }

    .name {
      font-size: vw-calc(16);
      font-weight: 700;
      color: $primary;
      transition: color 0.3s ease-in-out;

      @media (max-width: 768px) {
        font-size: vw-mobile-calc(12);
      }

      &:hover {
        color: $secondary;
        cursor: pointer;
      }
    }

    .description {
      font-size: vw-calc(14);
      font-weight: 400;
      color: $secondary;
      max-width: vw-calc(100);
      text-overflow: ellipsis;

      @media (max-width: 768px) {
        font-size: vw-mobile-calc(8);
        max-width: vw-mobile-calc(60);
      }
    }
  }

  .last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: vw-calc(15);

    @media (max-width: 768px) {
      gap: vw-mobile-calc(10);
    }

    .role {
      font-size: vw-calc(14);
      font-weight: 700;
      color: $green;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: vw-mobile-calc(12);
      }

      &.admin {
        color: $secondary;
      }

      &.member {
        color: $green;
      }

      &.pending {
        color: $primary;
      }

      &.owner {
        color: $red;
      }

      &.requested {
        color: $procariot-color;
      }
    }

    .status {
      font-size: vw-calc(14);
      font-weight: 700;
      color: $primary;

      @media (max-width: 768px) {
        font-size: vw-mobile-calc(12);
      }
    }
  }
}
