@import "styles/variables.scss";
@import "styles/calc.scss";

.toggleButton {
  width: vw-calc(50);
  height: vw-calc(50);
  position: absolute;
  left: vw-calc(10);
  top: vw-calc(10);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.2s ease-out,
    box-shadow 0.2s ease-out;

  @media (max-width: 768px) {
    width: vw-mobile-calc(40);
    height: vw-mobile-calc(40);
    left: vw-mobile-calc(5);
    top: vw-mobile-calc(5);
  }

  img {
    width: vw-calc(20);
    height: vw-calc(20);

    @media (max-width: 768px) {
      width: vw-mobile-calc(15);
      height: vw-mobile-calc(15);
    }
  }

  &:hover {
    cursor: pointer;
    background-color: $light-grey;
    box-shadow: 0px 0px 5px 0px $light-grey;
  }

  &.aproved {
    background-color: $background-color;
  }

  &.disapproved {
    background-color: $primary;
  }
}
