@import "styles/variables";
@import "styles/calc";

.container {
  display: flex;
  width: 100%;
  flex-direction: column;

  .topRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: vw-calc(100);
    height: vw-calc(350);
    gap: vw-calc(20);

    @media screen and (max-width: 768px) {
      margin-bottom: vw-mobile-calc(20);
      height: vw-mobile-calc(150);
    }

    .actions {
      background-color: $secondary-background-color;
      padding: vw-calc(20);
      width: vw-calc(250);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      border-radius: vw-calc(20);

      @media screen and (max-width: 768px) {
        padding: vw-mobile-calc(10);
        width: vw-mobile-calc(150);
        border-radius: vw-mobile-calc(10);
      }

      .title {
        color: $primary;
        font-size: vw-calc(20);
        font-weight: 700;

        @media screen and (max-width: 768px) {
          font-size: vw-mobile-calc(12);
        }
      }

      .actionsRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin-top: vw-calc(20);

        .button {
          width: vw-calc(120);
          height: vw-calc(30);
          border-radius: vw-calc(10);
          display: flex;
          padding: vw-calc(10);
          font-size: vw-calc(10);
          outline: none;
          border: none;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          background-color: $green;
          color: black;

          @media screen and (max-width: 768px) {
            width: vw-mobile-calc(70);
            height: vw-mobile-calc(15);
            padding: vw-mobile-calc(10);
            border-radius: vw-mobile-calc(10);
            font-size: vw-mobile-calc(6);
          }

          &.unfollow {
            background-color: $secondary;
            color: $background-color;
          }

          &.blue {
            background-color: $blue;

            &.leave {
              background-color: $red;
            }
          }

          &:hover {
            transform: scale(1.05);
            background-color: $dark-green;

            &.blue {
              background-color: $dark-blue;
            }
          }
        }

        .actionStat {
          display: flex;
          font-size: vw-calc(12);
          font-weight: 600;
          color: $secondary;

          @media screen and (max-width: 768px) {
            font-size: vw-mobile-calc(6);
          }
        }
      }
    }

    .stats {
      margin-top: vw-calc(40);
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .bigStat {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        .title {
          font-size: vw-calc(10);
          font-weight: 700;
          color: $secondary;

          @media screen and (max-width: 768px) {
            font-size: vw-mobile-calc(6);
          }
        }

        .stat {
          font-size: vw-calc(20);
          font-weight: 700;
          color: $primary;

          @media screen and (max-width: 768px) {
            font-size: vw-mobile-calc(10);
          }
        }
      }
    }

    .social {
      margin-top: vw-calc(20);
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: vw-calc(20);
    }
  }

  .title {
    font-size: vw-calc(30);
    font-weight: 700;
    color: $primary;
    margin-bottom: vw-calc(20);
  }

  .otherPosts {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: vw-calc(20);
  }
}
