@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  width: vw-calc(48);
  height: vw-calc(48);
  position: relative;

  .notiifcationAmount {
    position: absolute;
    top: 0;
    right: 0;
    width: vw-calc(10);
    height: vw-calc(10);
    background-color: $red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: vw-calc(12);
    color: $white;

    @media (max-width: 768px) {
      width: vw-mobile-calc(8);
      height: vw-mobile-calc(8);
      font-size: vw-mobile-calc(8);
    }
  }

  .bell {
    width: vw-calc(48);
    height: vw-calc(48);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    @media (max-width: 768px) {
      width: vw-mobile-calc(30);
      height: vw-mobile-calc(30);
    }
  }
}
