@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: vw-calc(25);
  border-radius: vw-calc(20);
  border: 1px solid $stroke-color;
  padding: vw-calc(20);

  .bio {
    font-size: vw-calc(20);
    font-weight: 400;
    color: $text;
    margin-bottom: vw-calc(25);
    height: vw-calc(150);

    @media screen and (max-width: 768px) {
      height: vw-mobile-calc(70);
      font-size: vw-mobile-calc(12);
    }
  }

  .county {
    font-size: vw-calc(20);
    font-weight: 400;
    color: $primary;
    margin-bottom: vw-calc(5);

    @media screen and (max-width: 768px) {
      font-size: vw-mobile-calc(8);
    }
  }

  .lastUpdated {
    font-size: vw-calc(16);
    font-weight: 400;
    color: $stroke-color;

    @media screen and (max-width: 768px) {
      font-size: vw-mobile-calc(6);
    }
  }
}
