@import "styles/calc.scss";
@import "styles/variables.scss";


.button {
  font-weight: bold;
  border: none;
  border-radius: vw-calc(30) vw-calc(30) vw-calc(8) vw-calc(30);
  box-shadow: 0 0 vw-calc(8) rgba(0, 0, 0, 0.15);
  transition:
    box-shadow 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 vw-calc(8) rgba(0, 0, 0, 0.25);
  }

  &:active {
    box-shadow: 0 0 vw-calc(8) rgba(0, 0, 0, 0.35);
  }

  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  min-width: vw-calc(200);
  padding: vw-calc(15) vw-calc(30);
  font-size: vw-calc(16);
  height: vw-calc(60);

  @media (max-width: 768px) {
    min-width: vw-mobile-calc(140);
    font-size: vw-mobile-calc(16);
    height: vw-mobile-calc(50);
    border-radius: vw-mobile-calc(20) vw-mobile-calc(20) vw-mobile-calc(8)
      vw-mobile-calc(20);
  }

  &.green {
    background-color: $green;
    color: $button-text-color;

    &:hover {
      background-color: darken($green, 5%);
      cursor: pointer;
    }

    &:active {
      background-color: darken($green, 10%);
    }
  }

  &.blue {
    background-color: $background-color;
    color: $blue;

    &:hover {
      background-color: darken($blue, 5%);
      color: $background-color;
    }

    &:active {
      background-color: darken($blue, 10%);
      color: $background-color;
    }
  }
}
