@import "styles/variables.scss";
@import "styles/calc.scss";

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  .top {
    width: 100%;
    display: flex;
    height: vw-calc(60);
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border-radius: vw-calc(40);
    padding: 0 vw-calc(20);
    border: 1px solid;
    border-color: $secondary;

    @media (max-width: 768px) {
      height: vw-mobile-calc(20);
      padding: vw-mobile-calc(5 10);
      border-radius: vw-mobile-calc(5);
    }

    > input {
      width: 100%;
      color: $primary;
      height: 100%;
      text-align: start;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      outline: none;
      font-size: vw-calc(16);
      background-color: transparent;
      border: none;

      @media (max-width: 768px) {
        font-size: vw-mobile-calc(12);
      }

      &::placeholder {
        color: $semi-dark;
      }
    }
  }

  .active {
    border-color: $blue;
    color: $primary;
  }

  > .hidden {
    display: none;
  }

  .menu {
    width: vw-calc(320);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: $background-color;
    border-radius: vw-calc(20);
    border: 1px solid $secondary;
    position: absolute;
    margin-top: vw-calc(70);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    z-index: 3;

    @media (max-width: 768px) {
      width: vw-mobile-calc(200);
      margin-top: vw-mobile-calc(25);
      border-radius: vw-mobile-calc(20);
    }

    > li {
      width: vw-calc(320);
      height: vw-calc(40);
      display: flex;
      align-items: flex-start;
      color: $secondary;
      font-size: vw-calc(14);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: vw-calc(10 20);
      border-bottom: $secondary 1px solid;

      @media (max-width: 768px) {
        width: vw-mobile-calc(200);
        height: vw-mobile-calc(20);
        font-size: vw-mobile-calc(10);
        padding: vw-mobile-calc(5 10);
      }

      &:hover {
        cursor: pointer;
        background-color: $stroke-color;
        font-size: vw-calc(16);
      }

      &:first-child {
        border-radius: vw-calc(20) vw-calc(20) 0px 0px;
      }

      &:active {
        background-color: $background-color;
      }

      &:last-child {
        border-bottom: none;
        border-radius: 0px 0px vw-calc(20) vw-calc(20);
      }
    }
  }
}
