@import "styles/variables.scss";
@import "styles/calc.scss";

.form {
  display: flex;
  flex-direction: column;
  row-gap: vw-calc(20);
}

.error {
  color: $red;
  font-size: vw-calc(16);
  font-weight: 500;
  margin-left: vw-calc(20);
  margin-top: vw-calc(-10);
  height: vw-calc(20);
  margin-bottom: vw-calc(-10);
}
