@import "styles/variables.scss";
@import "styles/calc.scss";

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    gap: vw-mobile-calc(10);
  }
}

.container {
  min-width: vw-calc(400);
  width: 100%;
  border: 1px solid $secondary;
  border-radius: vw-calc(30);
  padding: vw-calc(0) vw-calc(20);
  font-size: vw-calc(16);
  background-color: $background-color;
  display: flex;
  align-items: center;
  padding: vw-calc(20);
  justify-content: space-between;
  position: relative;

  @media (max-width: 768px) {
    width: 100%;
    height: vw-mobile-calc(100);
    border-radius: vw-mobile-calc(20);
    padding: vw-mobile-calc(10) vw-mobile-calc(20);
  }

  &.errorInput {
    border-color: $red;
  }

  &.success {
    border-color: $green;
  }

  &.disabled {
    border-color: $secondary;
    background-color: $secondary;
    color: $button-text-color;

    .image {
      filter: invert(1);
    }

    &:hover {
      cursor: not-allowed;
    }
  }

  &:hover {
    border-color: $primary;
    box-shadow: 0 0 vw-calc(8) rgba(0, 0, 0, 0.15);
  }

  &:active {
    border-color: $primary;
    box-shadow: 0 0 vw-calc(8) rgba(0, 0, 0, 0.25);
  }

  &:focus-within {
    border-color: $blue;
    box-shadow: 0 0 vw-calc(8) rgba(0, 0, 0, 0.25);
  }

  &.disabled::placeholder {
    color: $button-text-color;
  }

  .image {
    width: vw-calc(20);
    height: vw-calc(20);
    position: relative;

    @media (max-width: 768px) {
      width: vw-mobile-calc(20);
      height: vw-mobile-calc(20);
      margin-right: vw-mobile-calc(10);
    }
  }

  .textarea {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: $text;
    resize: vertical;

    &::placeholder {
      color: $secondary;
    }
  }

  textarea {
    font-size: vw-calc(16);
    font-family: inherit;

    @media (max-width: 768px) {
      font-size: vw-mobile-calc(12);
    }
  }
}
