@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  width: vw-calc(200);
  border-radius: vw-calc(60) 0 vw-calc(60) vw-calc(60);
  height: vw-calc(80);

  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;

  background-color: $secondary;
  transition: all 0.2s ease-in-out;

  &:hover {
    width: vw-calc(250);
    height: vw-calc(100);
    cursor: pointer;
  }

  &.active {
    &.eucariot {
      background-color: $eucariot-color;
    }

    &.procariot {
      background-color: $procariot-color;
    }

    &.mineral {
      background-color: $mineral-color;
    }
  }

  .domainImage {
    width: vw-calc(80);
    height: vw-calc(80);
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .domainName {
    font-size: vw-calc(20);
    font-weight: 600;
    color: #fff;
    text-align: center;
    position: absolute;
  }
}
