@import "styles/variables";
@import "styles/calc";

.container {
  width: vw-calc(150);
  height: vw-calc(150);
  position: relative;

  .drop {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .user {
    img {
      width: vw-calc(65);
      height: vw-calc(65);
      object-fit: cover;
    }
  }
}
