$green: #039300;
$blue: #04b4db;
$primary: #000;
$secondary: #5c5c5c;
$text: #696969;
$red: #ff0000;
$stroke-color: #d9d9d9;
$title: #09003f;
$background-color: #fff;
$border-color: #fff;
$button-text-color: #fff;