$green: #039300;
$dark-green: #5e7d5e;
$blue: #04b4db;
$dark-blue: #5e7d7d;
$primary: #000;
$secondary: #5c5c5c;
$text: #696969;
$red: #ff0000;
$dark-red: #7d5e5e;
$stroke-color: #d9d9d9;
$title: #09003f;
$background-color: #fff;
$border-color: #fff;
$button-text-color: #fff;
$points: #fff;
$eucariot-color: #1bbe18;
$procariot-color: #dfae00;
$mineral-color: #b12f8d;
