@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .question {
    display: flex;
    font-size: vw-calc(16);
    font-weight: 500;
    justify-content: center;
    align-items: center;
    color: $primary;
    margin-bottom: vw-calc(10);

    @media (max-width: 768px) {
      margin-bottom: vw-mobile-calc(5);
      font-size: vw-mobile-calc(14);
    }
  }

  .image {
    position: relative;
    width: 100%;
    height: vw-calc(400);
    margin: vw-calc(20) 0;
    border-radius: vw-calc(20);

    @media (max-width: 768px) {
      height: vw-mobile-calc(200);
      margin: vw-mobile-calc(10) 0;
      border-radius: vw-mobile-calc(10);
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: vw-calc(10);

    .option {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: vw-calc(10);
      font-size: vw-calc(16);
      height: vw-calc(60);
      padding: vw-calc(10);
      border-radius: vw-calc(10);
      box-shadow: 0px 0px vw-calc(5) rgba(0, 0, 0, 0.1);
      color: $primary;
      cursor: pointer;

      .optionTag {
        width: vw-calc(20);
        height: vw-calc(20);
        border-radius: 50%;
        border: 1px solid $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: vw-calc(16);
        font-weight: bolder;
        color: $primary;

        @media (max-width: 768px) {
          width: vw-mobile-calc(15);
          height: vw-mobile-calc(15);
          font-size: vw-mobile-calc(12);
        }
      }

      .optionText {
        font-size: vw-calc(16);
        color: $primary;

        @media (max-width: 768px) {
          font-size: vw-mobile-calc(14);
        }
      }

      @media (max-width: 768px) {
        font-size: vw-mobile-calc(14);
        height: vw-mobile-calc(40);
        padding: vw-mobile-calc(5);
        gap: vw-mobile-calc(5);
      }
    }

    @media (max-width: 768px) {
      gap: vw-mobile-calc(5);
    }
  }

  .correct {
    font-size: vw-calc(16);
    color: $green;
    margin-top: vw-calc(10);

    @media (max-width: 768px) {
      font-size: vw-mobile-calc(14);
      margin-top: vw-mobile-calc(5);
    }
  }

  .points {
    font-size: vw-calc(16);
    color: $primary;
    margin-top: vw-calc(10);

    @media (max-width: 768px) {
      font-size: vw-mobile-calc(14);
      margin-top: vw-mobile-calc(5);
    }
  }

  .deleteButton {
    color: $background-color;
    background-color: $red;

    &:hover {
      background-color: $dark-red;
    }

    &.active {
      background-color: $dark-red;
    }
  }
}
