@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  display: flex;
  flex-direction: column;
  width: vw-calc(200);
  height: vw-calc(340);
  border: 2px solid $stroke-color;
  background-color: $background-color;

  @media screen and (max-width: 768px) {
    width: vw-mobile-calc(150);
    height: vw-mobile-calc(235);
  }

  .image {
    width: 100%;
    height: vw-calc(127);
    object-fit: cover;
    position: relative;
    margin-bottom: vw-calc(20);

    @media screen and (max-width: 768px) {
      height: vw-mobile-calc(100);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .organisation {
    color: $green;
    font-size: vw-calc(11);
    font-weight: 600;
    padding: 0 vw-calc(20);

    @media screen and (max-width: 768px) {
      padding: 0 vw-mobile-calc(10);
      font-size: vw-mobile-calc(6);
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    padding: 0 vw-calc(20);
    gap: vw-calc(5);

    @media screen and (max-width: 768px) {
      padding: 0 vw-mobile-calc(10);
      margin-bottom: vw-mobile-calc(10);
    }

    .name {
      font-size: vw-calc(17);
      color: $primary;

      @media screen and (max-width: 768px) {
        font-size: vw-mobile-calc(8);
      }
    }

    .alternateName {
      font-size: vw-calc(11);
      color: $secondary;
      text-align: left;

      @media screen and (max-width: 768px) {
        font-size: vw-mobile-calc(6);
      }
    }
  }

  .stats {
    display: flex;
    flex-direction: row;
    padding: 0 vw-calc(20);
    margin-bottom: vw-calc(20);

    @media screen and (max-width: 768px) {
      padding: 0 vw-mobile-calc(10);
      margin-bottom: vw-mobile-calc(30);
    }

    .favourites {
      width: vw-calc(50);
      height: vw-calc(20);
      border-radius: vw-calc(10);
      align-items: center;
      padding: 0 vw-calc(10);
      justify-content: left;
      background-color: $stroke-color;
      display: flex;
      font-weight: 600;
      color: $secondary;
      font-size: vw-calc(8);
      margin-right: vw-calc(5);

      @media screen and (max-width: 768px) {
        font-size: vw-mobile-calc(6);
        margin-right: vw-mobile-calc(5);
        padding: 0 vw-mobile-calc(5);
        width: vw-mobile-calc(40);
        height: vw-mobile-calc(15);
        border-radius: vw-mobile-calc(15);
      }

      .favouriteDrop {
        display: flex;
        position: relative;
        width: vw-calc(8);
        height: vw-calc(9);

        @media screen and (max-width: 768px) {
          width: vw-mobile-calc(10);
          height: vw-mobile-calc(10);
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .kind {
      width: vw-calc(50);
      height: vw-calc(20);
      border-radius: vw-calc(10);
      align-items: center;
      display: flex;
      justify-content: center;
      font-weight: 600;
      text-align: center;
      font-size: vw-calc(8);

      @media screen and (max-width: 768px) {
        font-size: vw-mobile-calc(6);
        width: vw-mobile-calc(40);
        height: vw-mobile-calc(15);
        border-radius: vw-mobile-calc(15);
      }

      &.procariot {
        background-color: #80e8ff;
        color: #008dac;
      }

      &.eucariot {
        background-color: $green;
        color: $dark-green;
      }

      &.mineral {
        background-color: $red;
        color: $dark-red;
      }
    }
  }

  .buttons {
    width: 100%;
    padding: 0 vw-calc(20);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      padding: 0 vw-mobile-calc(10);
    }

    .button {
      width: vw-calc(115);
      height: vw-calc(40);
      display: flex;
      border: 2px solid $stroke-color;
      background-color: #f8f8f8;
      color: $secondary;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: vw-calc(10);
      font-weight: 600;

      @media screen and (max-width: 768px) {
        width: vw-mobile-calc(80);
        height: vw-mobile-calc(30);
        font-size: vw-mobile-calc(6);
      }
    }

    .drop {
      display: flex;
      position: relative;
      width: vw-calc(32);
      height: vw-calc(32);
      border-radius: 50%;
      background: linear-gradient(100deg, #80e8ff, #008dac);
      align-items: center;
      justify-content: center;
      border: none;
      outline: none;

      @media screen and (max-width: 768px) {
        width: vw-mobile-calc(30);
        height: vw-mobile-calc(30);
      }

      .favouriteDrop {
        display: flex;
        position: relative;
        width: vw-calc(16);
        height: vw-calc(16);
        filter: brightness(0) invert(1);

        @media screen and (max-width: 768px) {
          width: vw-mobile-calc(12);
          height: vw-mobile-calc(12);
        }

        img {
          stroke: #f8f8f8;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
