@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: vw-calc(20);

  @media screen and (max-width: 768px) {
    justify-content: space-around;
    align-items: center;
    column-gap: vw-mobile-calc(10);
  }
}

.tab {
  width: 100%;
  min-width: vw-calc(150);
  height: vw-calc(50);
  min-height: vw-calc(50);

  border-radius: vw-calc(10) vw-calc(10) 0 0;

  border: none;
  border-bottom: 2px solid $stroke-color;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  font-size: vw-calc(18);
  font-weight: 600;
  color: $blue;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #eee;
    color: $blue;
  }

  &:active {
    background-color: $stroke-color;
    color: $blue;
  }

  @media screen and (max-width: 768px) {
    width: vw-mobile-calc(60);
    height: vw-mobile-calc(20);
    font-size: vw-mobile-calc(7);
    border-radius: vw-mobile-calc(10);
  }

  &.active {
    background-color: $blue;
    color: white;
    border-color: $blue;
  }

  &.sub {
    min-width: vw-calc(100);
    height: vw-calc(40);
    min-height: none;
    color: $eucariot-color;

    &:hover {
      background-color: $background-color;
      color: $eucariot-color;
    }

    &.active {
      background-color: $eucariot-color;
      border-color: $eucariot-color;
      color: $background-color;
    }
  }
}
