@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  display: flex;
  width: vw-calc(600);
  height: vw-calc(1200);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 vw-calc(40) vw-calc(40) vw-calc(40);
  border-radius: vw-calc(25);
  box-shadow: 0 0 vw-calc(8) rgba(0, 0, 0, 0.15);

  .mainImage {
    width: vw-calc(200);
    height: vw-calc(200);
    border-radius: vw-calc(45) vw-calc(0) vw-calc(45) vw-calc(45);
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      border-radius: vw-calc(45) vw-calc(0) vw-calc(45) vw-calc(45);
    }

    margin-bottom: vw-calc(40);
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    .latinName {
      font-size: vw-calc(20);
      font-weight: 700;
      color: $title;
      margin-bottom: vw-calc(5);
      font-size: vw-calc(50);
      font-weight: bold;
      text-shadow: 0 0 vw-calc(8) rgba(0, 0, 0, 0.25);
    }

    .name {
      font-size: vw-calc(24);
      font-weight: lighter;
      color: $title;
      font-style: italic;
      margin-bottom: vw-calc(20);
    }
  }

  .categorization {
    width: 100%;
    height: vw-calc(30);
    margin-bottom: vw-calc(20);
  }

  .actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: vw-calc(20);

    .button {
      height: vw-calc(45);
      width: 100%;
      display: flex;

      align-items: center;
      justify-content: center;
      background-color: $actions-backround;

      font-size: vw-calc(16);
      font-weight: 600;
      color: $secondary;

      margin-bottom: vw-calc(40);
      border: 1.5px solid $secondary;
      border-radius: vw-calc(10);
      transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        height 0.2s ease-in-out,
        width 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: $secondary;
        color: $actions-backround;
        height: vw-calc(50);
        width: 120%;
      }
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: vw-calc(20);
    width: 100%;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold;
      margin-bottom: vw-calc(16);

      .image {
        width: vw-calc(20);
        height: vw-calc(20);
        margin-right: vw-calc(10);
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }

      .titleText {
        font-size: vw-calc(16);
        font-weight: bold;
        color: $primary;
      }
    }

    .description {
      font-size: vw-calc(16);
      font-weight: normal;
      color: $primary;
      min-height: vw-calc(50);
    }

    .funFacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: vw-calc(30);

      .funFact {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: vw-calc(10);

        .image {
          width: vw-calc(20);
          height: vw-calc(20);
          margin-right: vw-calc(10);
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }

        .text {
          font-size: vw-calc(16);
          font-weight: normal;
          color: $primary;
        }
      }
    }

    .table {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: vw-calc(10);

      .tableRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: vw-calc(20);
        width: 100%;
        padding: vw-calc(10);
        border: 1px solid $primary;
        border-bottom: none;

        &:first-child {
          border-top-left-radius: vw-calc(10);
          border-top-right-radius: vw-calc(10);
        }

        &:last-child {
          border-bottom-left-radius: vw-calc(10);
          border-bottom-right-radius: vw-calc(10);
        }

        .tableKey {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: start;
          font-size: vw-calc(16);
          font-weight: bold;
          color: $primary;
          border: 1px solid $primary;
        }

        .tableValue {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: end;
          font-size: vw-calc(16);
          font-weight: normal;
          color: $primary;
          border-left: 1px solid $primary;
        }
      }
    }
  }
}
