@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  display: flex;
  width: vw-calc(600);
  min-height: vw-calc(800);
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 vw-calc(40) vw-calc(40) vw-calc(40);
  border-radius: vw-calc(25);
  box-shadow: 0 0 vw-calc(8) rgba(0, 0, 0, 0.15);

  @media (max-width: 768px) {
    width: 100%;
    padding: vw-mobile-calc(20);
  }

  .mainImage {
    width: vw-calc(444);
    border-radius: vw-calc(45) vw-calc(0) vw-calc(45) vw-calc(45);
    position: relative;
    top: vw-calc(-100);
    max-height: vw-calc(300);
    margin-bottom: vw-calc(-80);

    .carousel {
      width: 100%;
      border-radius: vw-calc(45) vw-calc(0) vw-calc(45) vw-calc(45);

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover; //TODO: subject to change
        border-radius: vw-calc(45) vw-calc(0) vw-calc(45) vw-calc(45);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover; //TODO: subject to change
          border-radius: vw-calc(45) vw-calc(0) vw-calc(45) vw-calc(45);
        }
      }
    }

    @media (max-width: 768px) {
      width: vw-mobile-calc(175);
      height: vw-mobile-calc(125);
      border-radius: vw-mobile-calc(20) vw-mobile-calc(0) vw-mobile-calc(20)
        vw-mobile-calc(20);
      top: vw-mobile-calc(-50);
      margin-bottom: vw-mobile-calc(-40);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; //TODO: subject to change
      border-radius: vw-calc(45) vw-calc(0) vw-calc(45) vw-calc(45);
    }
  }

  .orgName {
    font-size: vw-calc(16);
    font-weight: 700;
    width: 100%;
    color: $secondary;
    text-align: flex-start;
    margin-bottom: vw-calc(20);
    transition: color 0.2s ease-in-out;

    @media (max-width: 768px) {
      font-size: vw-mobile-calc(8);
    }

    &:hover {
      cursor: pointer;
      color: $primary;
      text-decoration: underline;
    }
  }

  .serialNumber {
    font-size: vw-calc(14);
    font-weight: 500;
    width: 100%;
    color: $semi-dark;
    text-align: flex-start;
    margin-bottom: vw-calc(20);

    @media (max-width: 768px) {
      font-size: vw-mobile-calc(8);
    }

    &:hover {
      cursor: pointer;
      color: $primary;
      text-decoration: underline;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    .latinName {
      font-weight: 700;
      color: $title;
      margin-bottom: vw-calc(5);
      font-size: vw-calc(40);
      font-weight: bold;
      text-shadow: 0 0 vw-calc(8) rgba(0, 0, 0, 0.25);
      text-align: center;

      @media (max-width: 768px) {
        font-size: vw-mobile-calc(16);
      }
    }

    .name {
      font-size: vw-calc(24);
      font-weight: lighter;
      color: $title;
      font-style: italic;
      text-align: center;
      margin-bottom: vw-calc(20);

      @media (max-width: 768px) {
        font-size: vw-mobile-calc(10);
      }
    }
  }

  .categorization {
    width: 100%;
    height: vw-calc(30);
    margin-bottom: vw-calc(20);

    @media (max-width: 768px) {
      height: vw-mobile-calc(15);
      margin-bottom: vw-mobile-calc(10);
    }
  }

  .actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: vw-calc(20);

    @media (max-width: 768px) {
      gap: vw-mobile-calc(10);
    }

    .button {
      height: vw-calc(45);
      width: 100%;
      display: flex;

      align-items: center;
      justify-content: center;
      background-color: $actions-backround;

      font-size: vw-calc(16);
      font-weight: 600;
      color: $secondary;

      margin-bottom: vw-calc(40);
      border: 1.5px solid $secondary;
      border-radius: vw-calc(10);
      transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        height 0.2s ease-in-out,
        width 0.2s ease-in-out;

      @media (max-width: 768px) {
        height: vw-mobile-calc(20);
        font-size: vw-mobile-calc(10);
        margin-bottom: vw-mobile-calc(20);
        border-radius: vw-mobile-calc(5);
      }

      &:hover {
        cursor: pointer;
        background-color: $secondary;
        color: $actions-backround;
        height: vw-calc(50);
        width: 120%;

        @media (max-width: 768px) {
          height: vw-mobile-calc(25);
          width: 120%;
        }
      }
    }
  }
}
