@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  display: flex;
  width: vw-calc(600);
  min-height: vw-calc(800);
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 vw-calc(40) vw-calc(40) vw-calc(40);
  border-radius: vw-calc(25);
  box-shadow: 0 0 vw-calc(8) rgba(0, 0, 0, 0.15);

  .mainImage {
    width: vw-calc(444);
    height: vw-calc(250);
    border-radius: vw-calc(45) vw-calc(0) vw-calc(45) vw-calc(45);
    position: relative;
    top: vw-calc(-100);
    margin-bottom: vw-calc(-80);

    img {
      width: 100%;
      height: 100%;
      object-fit: fill; //TODO: subject to change
      border-radius: vw-calc(45) vw-calc(0) vw-calc(45) vw-calc(45);
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    .latinName {
      font-weight: 700;
      color: $title;
      margin-bottom: vw-calc(5);
      font-size: vw-calc(40);
      font-weight: bold;
      text-shadow: 0 0 vw-calc(8) rgba(0, 0, 0, 0.25);
      text-align: center;
    }

    .name {
      font-size: vw-calc(24);
      font-weight: lighter;
      color: $title;
      font-style: italic;
      text-align: center;
      margin-bottom: vw-calc(20);
    }
  }

  .categorization {
    width: 100%;
    height: vw-calc(30);
    margin-bottom: vw-calc(20);
  }

  .actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: vw-calc(20);

    .button {
      height: vw-calc(45);
      width: 100%;
      display: flex;

      align-items: center;
      justify-content: center;
      background-color: $actions-backround;

      font-size: vw-calc(16);
      font-weight: 600;
      color: $secondary;

      margin-bottom: vw-calc(40);
      border: 1.5px solid $secondary;
      border-radius: vw-calc(10);
      transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out,
        height 0.2s ease-in-out,
        width 0.2s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: $secondary;
        color: $actions-backround;
        height: vw-calc(50);
        width: 120%;
      }
    }
  }
}
