@import "styles/variables";
@import "styles/calc";

.container {
  width: vw-calc(400);
  height: vw-calc(250);
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    display: none;
  }

  .lion {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .crystal {
    width: 50%;
    height: vw-calc(200);
    top: vw-calc(-500);
    left: vw-calc(150);
    position: relative;
  }

  .bacteria {
    width: 50%;
    height: vw-calc(400);
    top: vw-calc(-250);
    right: vw-calc(50);
    position: relative;
  }
}
