@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  width: 100%;
  padding-bottom: vw-calc(50);

  @media (max-width: 768px) {
    padding-bottom: vw-mobile-calc(20);
  }

  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 vw-calc(120);

    @media (max-width: 768px) {
      padding: 0 vw-mobile-calc(20);
    }
  }

  .membersColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vw-calc(20);

    @media (max-width: 768px) {
      gap: vw-mobile-calc(10);
    }
  }

  .selectedBody {
    width: 100%;
    margin-top: vw-calc(90);
  }

  .link {
    display: flex;
    margin-bottom: vw-calc(20);

    @media (max-width: 768px) {
      margin-bottom: vw-mobile-calc(10);
    }
  }
}
