@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: vw-calc(50);
  gap: vw-calc(20);

  @media screen and (max-width: 768px) {
    margin-top: vw-mobile-calc(20);
    gap: vw-mobile-calc(20);

    .cardRow {
      justify-content: center;
    }
  }
}
