@import "styles/variables.scss";
@import "styles/calc.scss";

.container {
  width: vw-calc(400);
  display: flex;
  flex-direction: column;

  .question {
    display: flex;
    font-size: vw-calc(16);
    font-weight: 500;
    margin-bottom: vw-calc(10);
  }

  .existing {
    display: flex;
    flex-direction: column;
    width: 100%;

    .element {
      display: flex;
      min-height: vw-calc(40);
      align-items: center;
      width: 100%;
      margin-bottom: vw-calc(10);

      .delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: vw-calc(40);
        height: vw-calc(40);
        border-radius: vw-calc(10);
        background-color: $red;
        color: $background-color;
        font-size: vw-calc(12);
        border-radius: vw-calc(10);
        border: none;
        outline: none;
        position: relative;
        transition:
          background-color 0.3s ease-in-out,
          width 0.3s ease-in-out,
          height 0.3s ease-in-out;

        &:hover {
          background-color: $dark-red;
          cursor: pointer;
          width: vw-calc(50);
          height: vw-calc(50);
        }
      }

      .text {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: vw-calc(40);
        text-align: start;
        color: $primary;
        font-size: vw-calc(12);
        margin-left: vw-calc(10);
        word-wrap: break-word;
        flex-wrap: wrap;
        word-break: break-all;
      }

      &:last-child {
        margin-bottom: vw-calc(0);
      }
    }
  }

  .add {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: vw-calc(60);
      height: vw-calc(60);
      border-radius: vw-calc(10);
      background-color: $eucariot-color;
      color: $background-color;
      font-size: vw-calc(12);
      border-radius: vw-calc(10);
      border: none;
      position: relative;
      outline: none;
      transition:
        background-color 0.3s ease-in-out,
        width 0.3s ease-in-out,
        height 0.3s ease-in-out;
      margin-right: vw-calc(10);

      &:hover {
        background-color: $green;
        cursor: pointer;
        width: vw-calc(75);
        height: vw-calc(75);
      }
    }
  }
}
